body{
	margin: 0;
	padding: 0;
    background-color:  black;
}
.canvas {
    margin: auto;
    width: 504px;
    border: 10px outset #39f;
    padding: 10px;
}
header h2 {
    text-align: center;   
    color: white;
    font-family: monospace;
}

header div{
    display: flex;
    justify-content: space-around;
    background-color: #39f;
}
p{
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    color: white;
}